:root {
  --dark-peach: #e56d48;
  --purplish-grey: #807f81;
  --white: #ffffff;
  --black: #000000;
}

.menu {
  position: absolute;
  z-index: 3;
  right: 0;
  background-color: var(--white);
  border: 1px solid var(--black);
  transform: translateX(200px);
  transition: transform ease 250ms;

  &--visible {
    transform: translateX(0px);
  }
}
