:root {
  --dark-peach: #e56d48;
  --purplish-grey: #807f81;
  --white: #ffffff;
}

.header {
  background-color: var(--dark-peach);

  &__title {
    font-family: Candara;
    font-size: 18px;
    line-height: 0.83;
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
    color: var(--white);
  }
}
